{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Home</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/203f5ea330.js" crossorigin="anonymous"></script>
    <a href="https://www.flaticon.com/free-icons/github" title="github icons"></a>
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">
        <a href="{% url 'index' %}">
        <img id= "logo" src="{% static 'images/logo-black.svg' %}" width="35%"/>
        </a>
        <div class="header-right">
            <i class="fa fa-instagram"></i>
            <i class="fa fa-github"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-twitter"></i>
        </div>
    </header>
    {% include 'navbar.html' %}
    <br>
    <br>
    <h1>All POSTS</h1>
    <div class="row">
        {% for post in post %}
        <a href="{% url 'blogview' post.id %}"><h2>{{post.id}}.{{post.title}}</h2></a>
          <p>{{post.date}}</p>
          <br>
          <hr/>
        {% endfor %}
      </div>
      <footer>
        <h2>About</h2>
        <p>@LokeshPentakota</p>
        <small>Dadi Institute of Engineering & Technology</small>
      </footer>
</body>
</html>