@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
}
html{
    font-size: 62.5%;
}
header{
    padding: 0;
    margin: 0;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: maroon;
    -webkit-tap-highlight-color: transparent;
}
#logo{
    margin-top: -25px;
    margin-left: 0px;
    width: 20%;
}
.header-right{
    float: right;
}
.header-right i{
    font-size: x-large;
    padding: 1.5em;
    color: maroon;
}
.navbar{
    text-align: center;
}
.navbar a{
    text-decoration: none;
    padding: 1em;
    font-size: x-large;
}
.list{
    display: inline;
}
.list-item{
    display: inline;
}
.list-item i{
    font-size: 1.8em;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    background-color: #eee;
    margin-top: 2em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #btn{
    background-color: maroon;
    width: 50%;
    color: white;
    border-radius: 5px;
  }
  footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    text-align:left;
    padding: 2em;
    font-size: medium;
  }
  .column1{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 2em;
  }
  code{
    font-weight: bold;
    font-size: medium;
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
      margin-top: 5em;

    }
    .code-block{
        margin-top: 2em;
        background-color: #16212D;
    }
    .header-right i{
        font-size: medium;
        padding: 0.5em;
        color: maroon;
    }
    .navbar a{
        text-decoration: none;
        padding: 1em;
        font-size: medium;
    }
    #logo{
        margin-top: -25px;
        margin-left: 0px;
        width: 35%;
    }
    .column1{
        width: 100%;
    }
    h2{
    font-size: small;
    }
    footer{
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #eee;
        text-align:left;
        padding: 2em;
        font-size: medium;
      }
}